<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>PAUP*</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nex</string>
				<string>nexus</string>
				<string>nxs</string>
				<string>paup</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>paup40_doc-NEX</string>
			<key>CFBundleTypeName</key>
			<string>Nexus/PAUP text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>sEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>paup40_doc-Generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>Text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>sEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>log</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>paup40_doc-LOG.icns</string>
			<key>CFBundleTypeName</key>
			<string>Log file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>sEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tre</string>
				<string>tree</string>
				<string>trees</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>paup40_doc-TRE.icns</string>
			<key>CFBundleTypeName</key>
			<string>Treefile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>sEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PAUP_icc_pthreads_dev</string>
	<key>CFBundleGetInfoString</key>
	<string>4.0d142, Copyright © 2014 by David L. Swofford. All rights reserved.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>PAUPHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>PAUP Help</string>
	<key>CFBundleIconFile</key>
	<string>paup40.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.sinauer.paup</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>4.0d142, Copyright © 2014 by David L. Swofford. All rights reserved.</string>
	<key>CFBundleName</key>
	<string>PAUP*</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0d142</string>
	<key>CFBundleSignature</key>
	<string>PAUP</string>
	<key>CFBundleVersion</key>
	<string>3.99.142</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0
</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2014 by David L. Swofford. All rights reserved.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://people.sc.fsu.edu/~dswofford/paup_updates/leopard_icc_pthreads_dev/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text </string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nexus/PAUP text document</string>
			<key>UTTypeIconFile</key>
			<string>com.sinauer.paup</string>
			<key>UTTypeIdentifier</key>
			<string>edu.fsu.sc.nexus</string>
			<key>UTTypeReferenceURL</key>
			<string>http://paup.sc.fsu.edu/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TEXT</string>
				<key>public.filename-extension</key>
				<array>
					<string>nex</string>
					<string>nexus</string>
					<string>nxs</string>
					<string>paup</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text </string>
			</array>
			<key>UTTypeDescription</key>
			<string>Text document</string>
			<key>UTTypeIconFile</key>
			<string>com.sinauer.paup</string>
			<key>UTTypeIdentifier</key>
			<string>edu.fsu.sc.nexus</string>
			<key>UTTypeReferenceURL</key>
			<string>http://paup.sc.fsu.edu/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TEXT</string>
				<key>public.filename-extension</key>
				<array>
					<string>txt</string>
					<string>text</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text </string>
			</array>
			<key>UTTypeDescription</key>
			<string>Log file</string>
			<key>UTTypeIconFile</key>
			<string>com.sinauer.paup</string>
			<key>UTTypeIdentifier</key>
			<string>edu.fsu.sc.logfile</string>
			<key>UTTypeReferenceURL</key>
			<string>http://paup.sc.fsu.edu/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TEXT</string>
				<key>public.filename-extension</key>
				<array>
					<string>log</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text </string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tree file</string>
			<key>UTTypeIconFile</key>
			<string>com.sinauer.paup</string>
			<key>UTTypeIdentifier</key>
			<string>edu.fsu.sc.tree</string>
			<key>UTTypeReferenceURL</key>
			<string>http://paup.sc.fsu.edu/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TEXT</string>
				<key>public.filename-extension</key>
				<array>
					<string>tre</string>
					<string>tree</string>
					<string>trees</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
